{% extends 'base_dev.html.twig' %}

{% block body %}

    <h1>Partie entre {{ parties[0].users1 }} et {{ parties[0].users2 }}</h1>


    <div>
        <h2>Cartes du joueur 1</h2>
        <ul>
            {% set i = 0 %}
            {% for carte in cartes if carte.parties.id == parties[0].id and carte.carteSituation == 'mainJ1' %}
                {% set i = i + 1 %}
                <li>
                    {{ carte.modeles.modeleNom }} - {{ carte.modeles.modeleCategorie }}
                    - {{ carte.modeles.modeleExtra }} - {{ carte.modeles.modeleValeur }}
                    <a href="">Jouer</a> -
                    <a href="">Défausser</a>
                </li>
            {% endfor %}
            {% if i < 8 %}
                <a href="{{ path('piocherj1', {'partieid': parties[0].id}) }}">piocher</a>
            {% endif %}
        </ul>
    </div>

    <div>
        <h2>Cartes du joueur 2</h2>
        <ul>
            {% set t = 0 %}
            {% for carte in cartes if carte.parties.id == parties[0].id and carte.carteSituation == 'mainJ2' %}
                {% set t = t + 1 %}
                <li>
                    {{ carte.modeles.modeleNom }} - {{ carte.modeles.modeleCategorie }}
                    - {{ carte.modeles.modeleExtra }} - {{ carte.modeles.modeleValeur }}
                    <a href="">Jouer</a> -
                    <a href="">Défausser</a>
                </li>
            {% endfor %}
            {% if t < 8 %}
                <a href="{{ path('piocherj2', {'partieid': parties[0].id}) }}">piocher</a>
            {% endif %}
        </ul>
    </div>

    <div>
        <h2>Pioche</h2>
        <ul>
            {% for carte in cartes if carte.parties.id == parties[0].id and carte.carteSituation == 'pioche' %}

                <li>{{ carte.modeles.modeleNom }} - {{ carte.modeles.modeleCategorie }}
                    - {{ carte.modeles.modeleExtra }} - {{ carte.modeles.modeleValeur }}</li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h2>Défausse</h2>
        <ul>
            {% for carte in cartes if carte.parties.id == parties[0].id and carte.carteSituation == 'defausse' %}

                <li>
                    {{ carte.modeles.modeleNom }} - {{ carte.modeles.modeleCategorie }}
                    - {{ carte.modeles.modeleExtra }} - {{ carte.modeles.modeleValeur }}
                    - {{ carte.carteOrdre }} -
                    <a href="">Récuperer</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        <h2>Sur le plateau</h2>
        <ul>
            <h3>Azteque :</h3>
            {% for carte in cartes if carte.parties.id == parties[0].id and carte.carteSituation == 'plateau' and carte.modeles.modeleCategorie == 'azteque' %}

                <li>{{ carte.modeles.modeleNom }} - {{ carte.modeles.modeleCategorie }}
                    - {{ carte.modeles.modeleExtra }} - {{ carte.modeles.modeleValeur }}</li>
            {% endfor %}
        </ul>
    </div>


{% endblock %}