{% extends '::base.html.twig' %}

{% block meta %}
    <meta charset="utf-8"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="content-language" content="fr"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="author" content="Virtual Board Game">
    <meta name="description" content="Site d'attente du site de promotion">
    <meta name="keywords" content="attente, promo, Virtual Board Game, Carte">
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href={{ asset('assets/bootstrap/dist/css/bootstrap.min.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('assets/css/animate.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('assets/css/style.css') }}>
{% endblock %}

{% block script %}
    <script src="{{ asset('assets/js/jquery-3.1.1.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/wow.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/jquery.fittext.js') }}" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="{{ asset('assets/js/jquery.fittext.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.lazylinepainter-1.7.0.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-2.1.1.min.js') }}"></script>
    <script src="{{ asset('assets/sortable/sortable.js') }}"></script>
    <script src="{{ asset('assets/sortable/jquery-ui.js') }}"></script>
{% endblock %}

{% block favicon %}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/img/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assets/img/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/img/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/img/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('assets/img/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container-fluid containerzonejeu col-lg-12 col-md-12">
        <div id="dropper" class="zonejeu col-lg-offset-2 col-lg-8 col-md-8">
            <img class="plateau col-lg-10 col-md-10" src="{{ asset('assets/img/plateau.png') }}" draggable="false"/>
            <div class="zones">
                <ul id="example1" class="col-lg-2 bleu zone sortable"></ul>
                <ul id="example2" class="col-lg-2 rouge zone sortable"></ul>
                <ul id="example3" class="col-lg-2 jaune zone sortable"></ul>
                <ul id="example4" class="col-lg-2 vert zone sortable"></ul>
                <ul id="example5" class="col-lg-2 gris zone sortable"></ul>
            </div>
            <div class="lescartes col-lg-12 col-md-12 col-xs-12">
                <div class="cartes col-lg-offset-2 col-lg-8 col-md-8 col-xs-8 col-sm-8">
                    <ul class='main'>
                        <li class="where"><img draggable="true" id="1" class="carteimg"
                                               src="{{ asset('assets/img/cartes/egyptiens/0.png') }}"/></li>
                        <li class="where"><img draggable="true" id="2" class="carteimg"
                                               src="{{ asset('assets/img/cartes/egyptiens/1.png') }}"/></li>
                        <li class="where"><img draggable="true" id="3" class="carteimg"
                                               src="{{ asset('assets/img/cartes/egyptiens/2.png') }}"/></li>
                        <li class="where"><img draggable="true" id="4" class="carteimg"
                                               src="{{ asset('assets/img/cartes/egyptiens/3.png') }}"/></li>
                        <li class="where"><img draggable="true" id="5" class="carteimg"
                                               src="{{ asset('assets/img/cartes/egyptiens/4.png') }}"/></li>
                        <li class="where"><img draggable="true" id="6" class="carteimg"
                                               src="{{ asset('assets/img/cartes/egyptiens/5.png') }}"/></li>
                        <li class="where"><img draggable="true" id="7" class="carteimg"
                                               src="{{ asset('assets/img/cartes/egyptiens/6.png') }}"/></li>
                        <li class="where"><img draggable="true" id="8" class="carteimg"
                                               src="{{ asset('assets/img/cartes/egyptiens/7.png') }}"/></li>
                    </ul>
                </div>
            </div>
        </div>
        <script type="text/javascript">

            $(document).ready(function () {
                //hide the all of the element with class msg_body
                $("#commentaires").hide();
                //toggle the componenet with class msg_body
                $("#affichagecommentaire").click(function () {
                    $(this).next("#commentaires").slideToggle(600);
                });
            });
        </script>
    </div>

    <div id="affichagecommentaire" style="cursor: pointer;">Le chat</div>
    <div id="commentaires" class="tchat col-lg-3 col-md-3 col-lg-offset-1 col-md-offset-1"></div>

    <script>
        $(function () {
            $("ul.main").sortable({
                connectWith: ".jaune, .bleu, .rouge, .gris, .vert",
            });
            $("ul.zone").sortable({
                connectWith: ".main",
            });
        });
    </script>
    </div>
{% endblock %}

{# block scripts footer #}
{% block javascripts %}{% endblock %}
