{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href={{ asset('assets/bootstrap/dist/css/bootstrap.min.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('assets/css/animate.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('assets/css/style.css') }}>
{% endblock %}

{# block scripts head #}
{% block script %}
    <script src="{{ asset('assets/js/jquery-3.1.1.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/wow.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/jquery.fittext.js') }}" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="{{ asset('assets/js/jquery.fittext.js') }}"></script>
    <script src="{{ asset('assets/js/jquery.lazylinepainter-1.7.0.min.js') }}"></script>
    <script src="{{ asset('assets/js/jquery-2.1.1.min.js') }}"></script>
{% endblock %}

{% block favicon %}
    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/apple-icon-57x57.png') }}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/img/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('assets/img/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('assets/img/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('assets/img/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ asset('assets/img/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/img/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('assets/img/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ asset('assets/img/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block title %}{% endblock %}

{% block body %}
    <div class="container-fluid containerzonejeu col-lg-12 col-md-12">
        <div class="zonejeu col-lg-offset-2 col-lg-8 col-md-8">
            <img class="plateau col-lg-10 col-md-10" src="{{ asset('assets/img/plateau.png') }}" />
            <div class="lescartes col-lg-12 col-md-12 col-xs-12">
                <div class="cartes col-lg-offset-2 col-lg-8 col-md-8 col-xs-8 col-sm-8">
                    <img class="carteimg" src="{{ asset('assets/img/cartes/grec/aphrodite.png') }}" />
                    <img class="carteimg" src="{{ asset('assets/img/cartes/romains/bacchus.png') }}" />
                    <img class="carteimg" src="{{ asset('assets/img/cartes/grec/ares.png') }}" />
                    <img class="carteimg" src="{{ asset('assets/img/cartes/egyptiens/isis.png') }}" />
                    <img class="carteimg" src="{{ asset('assets/img/cartes/romains/vulcain.png') }}" />
                    <img class="carteimg" src="{{ asset('assets/img/cartes/grec/dionysos.png') }}" />
                    <img class="carteimg" src="{{ asset('assets/img/cartes/egyptiens/maat.png') }}" />
                    <img class="carteimg" src="{{ asset('assets/img/cartes/grec/hephaistos.png') }}" />
                </div>
            </div>
        </div>
        <script type="text/javascript">

            $(document).ready(function()
            {
                //hide the all of the element with class msg_body
                $("#commentaires").hide();
                //toggle the componenet with class msg_body
                $("#affichagecommentaire").click(function()
                {
                    $(this).next("#commentaires").slideToggle(600);
                });
            });
        </script>
    </div>

    <div id="affichagecommentaire" style="cursor: pointer;">Le chat</div>
    <div id="commentaires" class="tchat col-lg-3 col-md-3 col-lg-offset-1 col-md-offset-1"></div>
    </div>
{% endblock %}

{# block scripts footer #}
{% block javascripts %}{% endblock %}
